[Desktop Entry]
Name=Spitfire
Comment=Dynamic tiling Wayland compositor, configured in Lua
Exec=spitfire-session
Type=Application
Icon=spitfire
DesktopNames=spitfire
